<div id="recipe-<%= recipe.id %>">
  <div class="list-recipes">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag(recipe.picture.url(:medium), :alt => "image recipe", class: "img-responsive img-margin")%>
      </div>
      <div class="col-xs-6 padded-right">
        <div class="list-recipes-infos">
          <h3><b><%= recipe.name %> </b>
            <%= link_to profile_recipe_path(recipe) do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </h3>
        </div>
      </div>
      <div class="col-xs-2">
        <div class= "go-offer">
          <div class= "go-offer-text">
            <a data-toggle="modal" data-target="#offer-<%= recipe.id %>">
              <i class="fa fa-arrow-right fa-2x", style= "position: absolute;top: 6px;
  right: 6px; color: white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="offer-<%= recipe.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><%=recipe.name%></h4>
      </div>
      <div class="modal-body form-inline">

        <%= simple_form_for @offer, url: profile_offers_path do |f| %>
          <div class="row">
            <div class="col-xs-6">
              <div class= "form-offer">
                <%= f.input :startdate, as: :string,  label: 'Début disponibilité', input_html: {data: {provide: 'datepicker'}}  %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class= "form-offer">
                <%= f.input :enddate, as: :string,  label: 'Fin disponibilité', input_html: {data: {provide: 'datepicker'}}  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
               <div class= "form-offer">
                <%= f.input :portion, label: 'Portion(s)', class: "input-lg" %>
               </div>
            </div>
            <div class= "col-xs-6">
               <div class= "form-offer">
                <%= f.input :delay, label: 'Dernière commande', placeholder: '1h' %>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <%= f.input :price, label: 'Prix (en €)',placeholder: '8' %>
            </div>
          </div>
          <%= f.input :recipe_id, as: :hidden, input_html: { :value => recipe.id }%>
          <%= f.button :submit, label: 'Créer une offre', class: "btn btn-danger", value: "Créer une offre" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <p class= "text-center">Choisissez le créneau pour lequel votre plat sera <b>disponible</b></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
