<% recipe.offers.each do |offer| %>
  <div class= "list-recipes">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag(offer.recipe.picture.url(:medium), :alt => "image recipe", class: "img-responsive img-margin")%>
      </div>
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-6">
            <div class="list-recipes-infos">
              <h3><b><%= offer.recipe.name %></b> <%= link_to profile_recipe_path(offer.recipe) do %>
                  <i class="fa fa-eye"></i>
                  <% end %>
              </h3>
            </div>
          </div>
          <div class="col-xs-6">
            <%= day_in_french(offer.startdate)%> <%= offer.startdate.strftime('%M/%m')%></br>
            <%= offer.startdate.strftime('%Hh%M')%> à <%= offer.enddate.strftime('%Hh%M') %>
          </div>
        </div>
        <div class="row">
          <div class= "infos-offer">
            <div class="col-xs-3">
              <%= offer.price%> € / <%= image_tag 'spart.png' %>
            </div>
            <div class="col-xs-3">
              <%= offer.delay %> <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-xs-3">
              <%= offer.portion%> <%= image_tag 'spart.png' %>
            </div>
            <div class="col-xs-3">
              <div class= "position-delete-offer">
                  <%= link_to "X", profile_offer_path(offer),
                     method: :delete,
                     data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>










