<%= render 'shared/small_navbar' %>


<div id="recipes-manager-header">
  <h1 class="text-center">Gérez ici vos recettes</h1>
  <%= image_tag current_user.picture.url(:medium), class: "img-circle"%>

  <div class= "add-recipe">
    <%=link_to new_profile_recipe_path, class: "recipe-add-btn" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="container" id="recipes-manager-body">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="text-center">Recettes</h3>
      <ul class= "list-unstyled">
        <% @recipes.each do |recipe| %>
          <li>
            <%= render "recipe", recipe: recipe %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6">
      <h3 class="text-center">Offres en ligne</h3>
      <ul  class= "list-unstyled">
        <% @recipes.each do |recipe| %>
          <li>
              <%= render "recipe_offers", recipe: recipe %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




