<%= render 'shared/small_navbar' %>


<div id="recipes-manager-header">
  <h1 class="text-center">Gérez ici vos recettes</h1>
  <%= image_tag current_user.picture.url(:medium), class: "img-circle"%>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <ul class="list-recipes list-unstyled">
        <% @recipes.each do |recipe| %>
          <li>
            <%= render "recipe", recipe: recipe %>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%=link_to new_profile_recipe_path, class: "recipe-add-btn" do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <ul>
        <% @recipes.each do |recipe| %>
          <%= render "recipe_offers", recipe: recipe %>
        <% end %>
      </ul>
    </div>
  </div>
</div>




