
<%= render 'shared/small_navbar' %>
<div class="swag-pad">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6col-sm-offset-2" id="recipe-new">
      <%= simple_form_for @recipe, url: profile_recipes_path do |f| %>
          <table class="swag-table">
            <tr>
              <td colspan="7">
                <%= f.input :name, label: 'Nom de la recette', placeholder: 'tripe salto de canard en boite' %>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <%= f.input :numberpers, label: 'Nombre de personnes pour votre recette ' %>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <%= f.input :description, placeholder: 'Expliquer votre recette' %>
              </td>
            </tr>
             <!-- 2eme block -->
          <tr>
            <td colspan="7">
              <%= f.input :cooktime, label: 'Temps de cuisson' %>
            </td>
          </tr>
          <tr>
            <td colspan="7">
              <%= f.input :preparationtime, label: 'Temps de préparation' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.input :bio, inline_label: 'bio' %>
            </td>
            <td>
              <%= f.input :halal, inline_label: 'halal' %>
            </td>
            <td>
              <%= f.input :vegan, inline_label: 'vegetalien' %>
            </td>
            <td>
              <%= f.input :vegetarian, inline_label: 'vegearian' %>
            </td>
            <td>
              <%= f.input :gluten, inline_label: 'gluten' %>
            </td>
            <td>
              <%= f.input :lactose, inline_label: 'lactose' %>
            </td>
            <td>
              <%= f.input :casher, inline_label: 'casher' %>
            </td>
          </tr>
              <!-- 3eme block -->
          <tr >
            <td colspan="7" >
              <%= f.file_field :picture%>
            </td>
          </tr>
          <tr>
            <td colspan="7">
             <%= f.button :submit, value: 'Créer la recette',  class: "swagbtn btn btn-danger btn-lg" %>
            </td>
          </tr>
        </div>
      <% end %>
      </table>
    </div>
  </div>
</div>



