<%= render 'shared/small_navbar' %>

<div class= "text-center">
  <h1><%= @recipe.name%></h1>
  <p><%= image_tag @recipe.picture.url(:medium) %></p>
  <p><b>nombre de personne : </b><%=@recipe.numberpers%></p>
  <p><b>Recette : </b><%=@recipe.description%></p>
  <p><b>temps de prepraration : </b><%=@recipe.cooktime%></p>
  <p><b>temps de préparation : </b><%=@recipe.preparationtime%></p>
  <p><b>price : </b><%=@recipe.price%></p>

  <%=link_to 'edit the recipe', edit_profile_recipe_path(@recipe), class: "btn btn-success"  %>
</div>




