
<%= render 'shared/small_navbar' %>

<div class="padded-top padded-bottom" id="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <%=image_tag current_user.picture.url(:medium), class: "img-circle" %>
      </div>
      <div class="col-sm-5">
        <table>
          <tr>
            <td><b>Prénom</b></td>
            <td><%= current_user.firstname %></td>
          </tr>
          <tr>
            <td><b>Nom</b></td>
            <td><%= current_user.lastname %></td>
          </tr>
          <tr>
            <td><b>Addresse</b></td>
            <td><%= current_user.address %></td>
          </tr>
          <tr>
            <td><b>Mail</b></td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td><b>Numero</b></td>
            <td><%= current_user.phonenumber %></td>
          </tr>
          <tr>
            <td><b>Sexe</b></td>
            <td><%= current_user.sex %></td>
          </tr>
          <tr>
            <td><b>Description</b></td>
            <td><%= current_user.description %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to 'edit', edit_profile_path, class: "btn btn-success "%></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>



