<% if params[:pepeato] || resource.pepeato %>
<div class="logbg">
  <div class="container">
    <div class= "card-signup">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2><%= t('.sign_up', default: "Sign up") %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, required: true, autofocus: true, class: 'input-lg' %>
            <%= f.input :password, required: true, class: 'input-lg' %>
            <%= f.input :password_confirmation, required: true, class: 'input-lg' %>
            <%= f.button :submit, t('.Je veux devenir Pepeato"', default: "Je veux devenir Pepeato"), class: "btn btn-danger btn-lg", id: 'my-link' %>
            <%= f.input :pepeato, as: :hidden, input_html: { value: true } %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>


<% else %>
<div class="logbg">
  <div class="container">
    <div class= "card-signup">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2><%= t('.sign_up', default: "Sign up") %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, required: true, autofocus: true, class: 'input-lg' %>
            <%= f.input :password, required: true, class: 'input-lg' %>
            <%= f.input :password_confirmation, required: true, class: 'input-lg' %>
            <%= f.button :submit, t('.Je veux devenir utilisateur"', default: "Je veux devenir utilisateur"), class: "btn btn-danger btn-lg", id: 'my-link' %>
            <%= f.input :pepeato, as: :hidden, input_html: { value: false } %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
