<h1>je suis le new #offer</h1>

<%= simple_form_for @offer, url: profile_offers_path do |f| %>
  <%= f.input :startdate, label: 'start time' %>
  <%= f.input :enddate, placeholder: 'end time' %>
  <%= f.input :portion, inline_label: 'portion' %>
  <%= f.input :recipe_id,:as => :hidden, :input_html => { :value => "#{@recipe.id}" } %>
  <%= f.button :submit %>
<% end %>
