<div id="banner">

    <h1 class="text-center" id="big_title"> Commander des plats maison prêt de chez vous </h1>

  <div class="form-inline">
    <%= form_tag(recipes_path, method: "get", class: "text-center") do %>
       <%= text_field_tag(:city, nil, placeholder: 'votre ville ?', class: 'form-control') %>
     <%= submit_tag("Search", class: "btn-danger btn-large btn form-control", id: 'submit-btn') %>
    <% end %>
  </div>
</div>

<div id="featured">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featuredcity.png", class: "size-featured img-center "%>
        <p> 1 </p>
        <p>Precisez votre ville</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featureddish.png", class: "size-featured"%>
        <p> 2 </p>
        <p>choisissez un plat proche de chez vous</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featureddelivery.png", class: "size-featured"%>
        <p> 3 </p>
        <p>recuperez votre plat</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featuredstarving.png", class: "size-featured"%>
        <p> 4</p>
        <p> A table !</p>
      </div>
    </div>
  </div>
</div>
<div id="userstories">

</div>
