<div id="banner">
  <h1 class="text-center"> Commander des plats maison prêt de chez vous </h1>
  <div class="form-inline">
    <%= form_tag(recipes_path, method: "get", class: "text-center") do %>
       <%= text_field_tag(:city, nil, placeholder: 'votre ville ?', class: 'form-control') %>
     <%= submit_tag("Search", class: "btn-danger btn-large btn form-control", id: 'submit-btn') %>
    <% end %>
  </div>
</div>
<div id="featured">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featuredcity.png", class: "size-featured i "%>
        <p class="text-center"> 1 </p>
        <p class="text-center">Precisez votre ville</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featureddish.png", class: "size-featured"%>
        <p  class="text-center"> 2 </p>
        <p class="text-center">choisissez un plat proche de chez vous</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featureddelivery.png", class: "size-featured"%>
        <p  class="text-center"> 3 </p>
        <p class="text-center">recuperez votre plat</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "featuredstarving.png", class: "size-featured"%>
        <p class="text-center"> 4</p>
        <p class="text-center"> A table !</p>
      </div>
    </div>
  </div>
</div>
<div id="userstories">

</div>
