
<h1>hello booking</h1>


<% @bookings.each do |booking| %>
<ul>
  <li><%= booking.offer.recipe.name %><%= link_to "voir la commande", profile_booking_path(booking)%></li>
  <li><%= booking.offer.recipe.description %></li>
  <li><%= booking.offer.recipe.price %></li>
</ul>


<%end %>


<%= link_to "Mes informations personnelles", profile_path %>
<%= link_to "Mettre en ligne une nouvelle recette" %>



