<h1>allo le show booking</h1>

<%= @booking.offer.recipe.name %>
<%= @booking.offer.recipe.numberpers %>
<%= @booking.offer.recipe.description %>
<%= @booking.offer.recipe.cooktime %>
<%= @booking.offer.recipe.preparationtime %>
<%= @booking.offer.price %>
<%= @booking.offer.recipe.halal %>
<%= @booking.offer.recipe.vegan %>
<%= @booking.offer.recipe.vegetarian %>
<%= @booking.offer.recipe.gluten %>
<%= @booking.offer.recipe.lactose %>
<%= @booking.offer.recipe.casher %>
<%= @booking.offer.recipe.bio %>
<%= @booking.offer.portion %>
<%= @booking.offer.startdate %>
<%= @booking.quantity %>
<%= @booking.date %>
<%= @booking.user.first_name %>
<%= @booking.user.last_name %>
<%= @booking.user.email %>
<%= @booking.user.phonenumber %>
<%= @booking.user.address %>
