<div class="logbg">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class= "card-signup">

        <h2><%= t(".sign_in", default: "Sign in") %></h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, required: false, autofocus: true, class: 'input-lg' %>
          <%= f.input :password, class: 'input-lg', required: false, class: 'input-lg' %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Je me connecte", class: "btn btn-danger btn-lg" %>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
