
  <div class="row">
          <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=400x1000&w=400&h=1000", class: "sidebar"%>

    <div class=" col-xs-12  col-sm-8 col-sm-offset-4">
      <% @recipes.each do |recipe| %>
        <% recipe.offers.each do |offer| %>
          <div class="col-xs-12   col-sm-6">
            <div class="little_card relative">
             <p><%= image_tag offer.recipe.picture.url(:medium), class: "photo" %></p>
              <h4><%= offer.recipe.name %></h4>
              <hr id='lignshow'>
              <p><b>Nombre de portions disponibles : </b><%= offer.portion %></p>
              <div class="godless img-circle">
                <p><b></b><%= offer.recipe.price%>€</p>
              </div>
              <%= link_to 'Voir la recette', offer_path(offer), class: "btn btn-default" %>
            </div>
          </div>
          <% end %>
      <% end %>
                <!-- Je suis la map Je suis la map JSUIISS LA MAP ! -->
      </div>
  </div>


