<div id="map" class="map"></div>

<div class="results-container">
  <div class="container-fluid">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <% recipe.offers.each do |offer| %>
          <div class= "card-padding-map">
            <div class="col-xs-12 col-sm-4 padded-bottom">
              <div class="card-recipe">
                <div class="card-recipe-header" style="background-image: url('<%= asset_path offer.recipe.picture.url(:medium) %>');">
                  <div class="card-recipe-filter"></div>
                  <div class="card-recipe-header-infos">
                    <h3><%= offer.recipe.name %></h3>
                  </div>
                  <div class="card-recipe-header-portions">
                    <%= available_portions(offer) %> x parts
                  </div>
                </div>
                <div class="card-recipe-body">
                  <div class="row">
                    <div class="col-xs-3">
                      <%= image_tag offer.recipe.user.picture.url(:medium), class: "img-circle img-index" %>
                    </div>
                    <div class="col-xs-9">
                      <h3>
                        <%= offer.recipe.user.firstname.capitalize %> <%= offer.recipe.user.lastname.capitalize %>
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <p class="card-recipe-pickup">
                        <%= day_in_french(offer.startdate) %> <br>
                        <%= offer.startdate.strftime('%Hh%M')%> à <%= offer.enddate.strftime('%Hh%M') %>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="footer text-right">
                  <ul class="list-inline">
                    <li>
                      <div class="price-position">
                        <span class="price-position2"><%= offer.price %> €</span>
                      </div>
                    </li>
                    <li>
                      <a data-toggle="modal" data-target="#booking-<%=offer.id%>" class="card-recipe-control">
                        <b>Commander</b>
                      </a>
                    </li>
                    <li>
                      <%= link_to offer_path(offer), class: "card-recipe-control" do %>
                        <i class="fa fa-eye"></i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!--modale booking-->
          <div class="modal fade" id="booking-<%=offer.id%>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center"><%= offer.recipe.name %></h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [offer, @booking], url: profile_bookings_path do |f| %>
                    <%= f.input :quantity, label: 'Combien de parts ?', collection: 1..available_portions(offer), input_html: {class: "input-lg"}, prompt: "aucune part choisie" %>
                    <%= f.input :offer_id, as: :hidden, :input_html => { :value => offer.id }%>
                    <% if available_portions(offer) > 0 %>
                      <%= f.button :submit, label: 'Réservez maintenant', class: "btn btn-success btn-lg" %>
                    <% else %>
                      <p> Désolé, toutes les parts ont été vendues :) </p>
                    <% end %>
                  <% end %>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>






