

<div id="bgshowrecipe">
  <h1 class="text-center title-show"><%= @recipe.name.upcase%></h1>
  <%= image_tag @recipe.user.picture.url(:medium), class: "img-circle img-pos-bg" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="card">
        <p><b>Nombre de personne(s) : </b><%=@recipe.numberpers%></p>
        <p><b>Temps de cuisson : </b><%=@recipe.cooktime%></p>
        <p><b>Temps de préparation : </b><%=@recipe.preparationtime%></p>
      </div>
      <div class="col-xs-12 col-sm-5">
       <%= image_tag @recipe.picture.url(:medium), class: 'img-recipe' %>
      </div>
      <div class="col-xs-12">
        <div class="card">
          <div class= "small-padded-bottom">
            <b>ingredients :</b>
          </div>
          <p>- 3 oeufs </br>
          - 1/4 de litre de lait </br>
          - 10 cl de crème fraîche  </br>
          - 2 grosses cuillères à soupe de farine  </br>
          - 100 g de gruyère râpé  </br>
          - 4 tranches de jambon (peuvent être remplacées par des lardons ou encore des épinards)  </br>
          - sel et poivre  </br>
          </p>

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="large-card">
        <p><b>Recette:</b>
        <div>
          <%=@recipe.description%></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="col-xs-12">
          <div class='padding-soft '>
            <div class= "small-padded-bottom">
            Recette crée le
            <strong>
              <%= day_in_french(@recipe.created_at)%>
              <%= @recipe.created_at.strftime('%M/%m')%>
              à <%= @recipe.created_at.strftime('%Hh%M')%>
            </strong>
            </div>
            <div class= "padded-bottom">
            Par : <strong><%= @recipe.user.firstname.upcase %> <%= @recipe.user.lastname.upcase %></strong>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>




















