






<div id="bgshowrecipe">
  <h1 class="text-center"><%= @recipe.name.upcase%></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="card">
        <p><b>nombre de personne : </b><%=@recipe.numberpers%></p>
        <p><b>temps de prepraration : </b><%=@recipe.cooktime%></p>
        <p><b>temps de préparation : </b><%=@recipe.preparationtime%></p>
        <p><b>price : </b><%=@recipe.price%></p>
      </div>
      <div class="col-xs-12 col-sm-5">
       <%= image_tag @recipe.picture.url(:medium), class: 'img-recipe' %>
      </div>
      <div class="col-xs-12">
        <div class="card">
          ingredients : TBD
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="large-card">
        <p><b><u>Recette :</u></b><%=@recipe.description%></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="col-xs-12">
          <div class='padding-soft small-padded-bottom '>
            Recette crée le : <%= @recipe.created_at %>
            Par : <%= @offer.recipe.user.lastname.upcase %>
          </div>
          <button data-toggle="modal" data-target="#booking"> Commander </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>

</div>



<!--modale booking-->

<div class="modal fade" id="booking">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"> BOOKING </h4>
      </div>
      <div class="modal-body form-inline">
        <%= simple_form_for [@offer, @booking], url: profile_bookings_path do |f| %>
          <div class= "form-offer">
            <%= f.input :quantity, label: 'Combien de parts voulez vous réserver' %>
            <%= f.input :date, label: 'A quelle heure voulez vous venir le chercher' %>
            <%= f.input :date, label: 'A quelle heure voulez vous venir le chercher' %>
            <%= f.input :offer_id, as: :hidden, :input_html => { :value => @offer.id }%>
            <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <p class= "text-center">Cimer mon frère</b></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

