<%= render 'shared/small_navbar' %>
<div class="pepeatobooking-title">
  <h1 class= "text-center">Commandes en cours</h1>
</div>

<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-12">
        <div class="card-pepeatobooking">
          <div class="col-sm-4">
            <div class="card-pepeatobooking-lefter" style="background-image: url('<%= asset_path offer.recipe.picture.url(:medium) %>');">
              <div class="card-pepeatobooking-lefter-infos">
                <h3><%=offer.recipe.name %></h3>
              </div>
              <div class="card-pepeatobooking-lefter-portions">
                <%= offer.portion %> x parts
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-pepeatobooking-header">
              <div class="row">
                <div class="card-pepeatobooking-header-part">
                  <div class="col-sm-4">
                    <% if available_portions(offer) > 0 %>
                      <h3><%= available_portions(offer)%> x <%= image_tag 'part.png'%> restante(s)</h3>
                    <% else %>
                      <p class="full">Vente complete <i class="fa fa-smile-o"></i></p>
                    <% end %>
                  </div>
                  <div class="col-sm-4">
                    <%= day_in_french(offer.startdate)%> <%= offer.startdate.strftime('%M/%m')%>
                  </div>
                  <div class="col-sm-4">
                </div>
                  <i class="fa fa-clock-o"></i> <%= offer.startdate.strftime('%Hh%M')%> à <%= offer.enddate.strftime('%Hh%M') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-pepeatobooking-body">
              <div class="row">
                <% offer.bookings.each do |booking| %>
                  <div class="col-sm-2">
                    <div class="card-pepeatobooking-body-booking">
                      <% if  booking.user.picture %>
                        <%= image_tag booking.user.picture.url(:medium), class: "img-circle position-picture" %>
                      <% else %>
                        <img src="http://placehold.it/100x100" alt="">
                      <% end %>
                      <div class= "card-pepeatobooking-body-booking-text">
                        <h3><%= booking.user.firstname %></h3>
                        <h3><%= booking.quantity %> x <%= image_tag 'part2.png' %></h3>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>







