<%= render 'shared/small_navbar' %>
<h1 class= "text-center">Commandes en cours</h1>

<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-12">
        <div class= "card-commande relative">
          <div class="row">
            <div class= "row-top">
              <div class="col-xs-12">
                <%= offer.recipe.name %>
                <div class= "price-position text-center">
                  <p><%= offer.recipe.price %> €</p>
                </div>
                <div class= "commande-position">
                  <%= image_tag offer.recipe.picture.url(:medium), class: "img-circle"%>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class= "row-bottom relative">
              <% offer.bookings.each do |booking| %>
                <div class="col-xs-2">
                  <div class= "card-booking relative">
                    <div>
                      <%= image_tag booking.user.picture.url(:medium), class: "img-circle img-booking" %>
                    </div>
                    <div class= "prenom-booking">
                      <%= booking.user.firstname %>
                    </div>
                    <div class= 'quantity-position'>
                      <p>A réservé <%= booking.quantity %> part</p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>




