<h1># Show pepeatoBooking</h1>

<%= @pepeatobooking.offer.recipe.name %>
<%= @pepeatobooking.offer.recipe.numberpers %>
<%= @pepeatobooking.offer.recipe.description %>
<%= @pepeatobooking.offer.recipe.cooktime %>
<%= @pepeatobooking.offer.recipe.preparationtime %>
<%= @pepeatobooking.offer.recipe.price %>
<%= @pepeatobooking.offer.recipe.halal %>
<%= @pepeatobooking.offer.recipe.vegan %>
<%= @pepeatobooking.offer.recipe.vegetarian %>
<%= @pepeatobooking.offer.recipe.gluten %>
<%= @pepeatobooking.offer.recipe.lactose %>
<%= @pepeatobooking.offer.recipe.casher %>
<%= @pepeatobooking.offer.recipe.bio %>
<%= @pepeatobooking.offer.portion %>
<%= @pepeatobooking.offer.startdate %>
<%= @pepeatobooking.quantity %>
<%= @pepeatobooking.date %>
<%= @pepeatobooking.user.first_name %>
<%= @pepeatobooking.user.last_name %>
<%= @pepeatobooking.user.email %>
<%= @pepeatobooking.user.phonenumber %>
<%= @pepeatobooking.user.address %>
